<div class="jumbotron" style="background-color: #f2fcfe">
  <ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <%= link_to 'Contact', '#', class:"nav-link active" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Sign up as a Client', '#', class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'Sign up as a Partner', '#', class:"nav-link" %>
  </li>
  <li class="nav-item">
    <%= link_to 'How it works', '#', class:"nav-link disable" %>
  </li>
  <li class="nav-item">
    <img src="https://image.flaticon.com/icons/svg/2226/2226377.svg" width="30" height="30" class="d-inline-block align-top" alt="">
  </li>
</ul>
</div>
