<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="https://image.flaticon.com/icons/svg/2226/2226377.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Washapp
  </a>
  <form class="form-inline my-2 my-lg-0">
    <button class="btn btn-outline-primary my-2 my-sm-0">Iniciar sesión</button>
  </form>
</nav>