<nav class="navbar navbar-light fixed-top" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="/">
    <img src="https://image.flaticon.com/icons/svg/2226/2226377.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Washapp
  </a>
  <div class="form-inline my-2 my-lg-0">
    <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
        <%= link_to('Login', new_user_session_path, class: "btn btn-outline-primary my-2 my-sm-0") %>
    <% end %>
  </div>
</nav>
