  <div class="jumbotron my-3 text-center jumbotron-color">
    <img src="https://image.flaticon.com/icons/svg/2226/2226377.svg" width="80" height="80" class="d-inline-block align-top">
    <h1>¡Welcome to Wash App!</h1>
  </div>

  <%= render 'carousel' %>
  <%= render 'packages' %>
  <div class="row">
  <div class="col-12">
    <div class="py-4 text-container">
      <h1 class='text-center'>Tell us your car size</h1>
    </div>
    <%= image_tag('car_sizes.png', style: 'width:100%')%>
  </div>
  </div>
