@import "bootstrap";
.jump_card {
  box-shadow:2px 3px 6px 0 rgba(0,0,0,0.56);
}


html{
  min-height: 100%;
  height: 100%;
  margin-top: 90px;
}

body{
  background-color: rgba(#66ccff, 0.7);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.devise-container{
  flex: 1;
}

.jumbotron-color {
  background-color: #65C7F7;
}

.text-container {
  background-color: #ffffff;
}

.carousel-item img {
  height: 600px !important;
}

.container-footer {
  text-align: center;
  background: #1eadf5;
  color: white;
  font-size: .9rem;
  bottom: 0;
  width: 100%;
}

.container-footer .links {
  display: flex;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;

}

.container-footer .links a {
  color:white;
  margin: 0 .7rem;
  transition: all .3s ease;
}
